/* HERO SECTION */
.hero
{
    padding: 5rem 0;
}

.hero .gauche
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1
{
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 5.5rem;
}
.hero h1 span
{
    color: var(--primary-color);
}

.hero p
{
    font-size: 1.125rem;
    line-height: 2;
    margin: 2rem 0;
}

.hero a
{
    display: inline-block;
    padding: 1rem 3.5rem;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 30px;
}
.hero a:hover
{
    background-color: var(--primary-black);
}

.hero .img-container
{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    
}

.hero .img-container::before
{
    content: '';
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 100%;
    height: 100%;
    background-color: var(--primary-black);
    z-index: -1;
    border-radius: 61% 39% 75% 25% / 37% 70% 30% 63%;

}

.hero .img-container img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    z-index: -1;
}