@import url('navigation.css');
@import url('general.css');
@import url('lien.css');
@import url('hero.css');
@import url('contact.css');
@import url('responsive.css');


/*
* Variables
*/

:root
{
	--primary-color:#e81922;
	--light-red: #ef5a60;
	--primary-black: #111;
	--gray: #aaa;
}
/*36.43*/