 /* Palettes de couleur  
:root
{
    --color1 : #342b32;
    --color2 : #494a44;
    --color3 : #77726a;
    --color4 : #b2b2b6;
    --color5 : #f9f6f6; 
}




*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html
{
    height: 100%;
}

img
{
    max-width:100% ;
}

a
{
    padding: 0;
    margin: 0;
    text-decoration: none;
}




body > nav
{
    position: sticky;
    display: flex;
    top: 0;
    gap: 25px;
    flex-direction:column;
    z-index: 1;
    padding: 0 3%;

 
} 

body > nav img{
    height: 70px;
    border-radius: 50%;
}

body >nav  {
    color: var(--color2);
}

body>nav a{
    text-decoration: none;
	display: flex;
	 align-items: center;
}

 a img {
    overflow: hidden;
    width: 80px;
    height: 80px;  

    padding: 0;
    
}

.navigation{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    flex-grow: 1;
}

.navigation a {
    text-decoration: none;
    color: inherit;
    align-items: center;

}

body>nav a, .dropdown .dropbtn {
    text-transform: uppercase; 
    padding: 10px 20px; 
}

.navigation-form input
{
   width: 240px;
    margin-left: 275px; 
    height: 30px;
    border-radius: 25px;
    padding-left: 10px;
}

.dropdown {
	display: flex;
	position: relative;
}

.dropdown-content{
    position: absolute;
    min-width: 240px;
	top: 100%;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.5);
    z-index: 1;

}

.dropdown .dropbtn {
    border: none;
    outline: none;

    font-family: inherit;
    font-size: inherit;
}

body>nav a:hover, .dropdown:hover .dropbtn {
    transition-duration: 0.4s;
    background-color: rgb(66, 19, 19);

}

.dropdown:not(:hover) .dropdown-content{
	 opacity: 0;
	 pointer-events: none;
}

footer p
{
    bottom: 0;
} */

/******************************/
/* Styles généraux de la page */
/******************************/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html
{
    height: 100%;
}

img
{
    max-width:100% ;
}

a
{
    padding: 0;
    margin: 0;
    text-decoration: none;
}


nav 
{
    background-color: #333;
    overflow: hidden;
  }

  .navigation 
  {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 0 20px;
  }

  .navigation a 
  {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }

  .navigation a:hover {
    background-color: rgb(167, 17, 17);
    color: black;
  }

  .navigation .navigation-logo img {
    height: 70px;
    border-radius: 50%;
  }

  .navigation .dropdown {
    position: relative;
    display: inline-block;
  }


  .navigation .dropdown .dropbtn {
    background-color: #333;
    color: white;
    padding: 14px 16px;
    font-size: 17px;
    border: none;
  }

  .navigation .dropdown .dropbtn:hover {
    background-color:  rgb(167, 17, 17);;
    color: black;
    border-radius: 5px;
  }

  .navigation .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .navigation .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .navigation .dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .navigation .dropdown:hover .dropdown-content {
    display: block;
  }

  .navigation-logo:hov{
    background-color: #333;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }